/* .wrapper {
    display: flex;
} */

.container {
  width: 600px;
  height: 600px;
  background-color: aliceblue;
  display: inline-block;
  position: relative;
}

.sidePanel {
  background-color: mistyrose;
  width: 200px;
  height: 600px;
  display: inline-block;
  vertical-align: top;
}

.shape {
  position: absolute;
}

input {
  margin: 0.5rem;
}
